.keyboard {
  background-image:("https://wallpaperaccess.com/full-hd-keyboard.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}


.IT {
  background-image:("https://www.jmbfinmgrs.com/blog/stock-market-volatility-acting-vs-reacting.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}